<div class="current-data">

    <div class="current-content" style="text-align:center">


      <span class="current-title">WELCOME TO AUDIO-KRATOS</span><br>
      <%= image_tag("boomlogo.png", size: "200x200", class: "img-circle") %>
      <hr>
      <span style="color:white">Nicholas Kincaid</span><br>
      <span style="color:white">Kenneth Liu</span><br>
      <span style="color:white">Spencer Rohan</span>
      <hr>
    </div>

  </div>
</div>

