




/*nav {
  border-bottom: 3px solid black;
  margin-bottom: 30px;

}

nav h2{
  display: inline-block;
}

.controls {
  margin: 0 auto;
  width: 400px;
}

audio {
  width: 400px;
}

table.pretty {
  border-collapse: collapse;
}

.pretty td, .pretty th {
  padding: 4px 10px;
  border: solid 1px #AAA;
}

.pretty .price {
  text-align: right;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}
